$light-default: #fff;
$light-50: #f9fafb;
$light-100: #f3f4f6;
$light-200: #e5e7eb;
$light-300: #d1d5db;
$light-400: #9ca3af;
$light-500: #6b7280;
$light-600: #4b5563;
$light-700: #374151;
$light-800: #1f2937;
$light-900: #111827;
$light-950: #030712;
$emerald-500: #10b981;
$dark-default: #030712;
$dark-50: #111827;
$dark-100: #1f2937;
$dark-200: #374151;
$dark-300: #4b5563;
$dark-400: #6b7280;
$dark-500: #9ca3af;
$dark-600: #d1d5db;
$dark-700: #e5e7eb;
$dark-800: #f3f4f6;
$dark-900: #f9fafb;
$dark-950: #ffffff;
