.footer {
  padding: 24px 0;
  background-color: $light-50;
  @include transition-ease();

  &.dark {
    background-color: $dark-50;
  }

  &__text {
    text-align: center;
    color: $light-600;
    @include body3();
    @include transition-ease();

    &.dark {
      color: $dark-600;
    }
  }
}
